@import '~/common/scss-vars/monitors.scss';
@import '~/common/scss-vars/dims.scss';

$padx: var(--chakra-space-4);

.fixed-wrapper {
  // color: var(--chakra-colors-gray-600) !important;
  z-index: 1001;
  background-color: #FFF;
  position: fixed;
  @media (max-width: #{$md}px) { width: 100%; }
  @media (min-width: #{$md + 1}px) {
    width: calc(100vw - #{$room-desktop-width}px);
  }
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: all 0.15s linear;

  &--fullHeight {
    max-height: 100vh;
    min-height: 100vh;
  }
  &--maxHeightLimited {
    max-height: calc(50vh - (#{$padx}/2));
    min-height: calc(50vh - (#{$padx}/2));
  }

  transform: translateY(100%);
  &--opened {
    transform: translateY(0);
  }

  display: flex;
  flex-direction: column;
  padding: 0;

  .tab-header {
    z-index: 1;
    position: sticky;
    // background-color: #FFF;
    top: 0;
    border-bottom: var(--chakra-sizes-1) solid;
    // border-bottom-width: var(--chakra-sizes-1);

    height: calc(69px + var(--chakra-sizes-1));
    // height: 69px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: var(--chakra-sizes-4);
    & > * {
      
      height: calc(69px + var(--chakra-sizes-1));
    }
    & > *:not(:last-child) {
      margin-right: var(--chakra-sizes-4);
    }
    
    .controls {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: var(--chakra-sizes-2) 0 var(--chakra-sizes-2) 0;
      & > *:not(:last-child) {
        margin-bottom: var(--chakra-sizes-2);
      }
    }
  }

  // .container {}
}
.bg {
  &--dark {
    background: var(--chakra-colors-gray-700);
    .tab-header {
      border-bottom-color: var(--chakra-colors-gray-600);
    }
  }
  &--light {
    // background: var(--chakra-colors-gray-100);
    // background: transparent;
    background: #FFF;
    .tab-header {
      // background: var(--chakra-colors-gray-200);
      border-bottom-color: var(--chakra-colors-gray-300);

    }
  }
}
