@import '~/common/scss-vars/monitors.scss';

.room{
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);

  @media (max-width: #{$sm}px) {
    border-radius: 0px;
    
    }
  @media (min-width: #{$sm + 1}px) {
    border-radius: 10px;
  }
  .heading{
      font-family: 'DM Sans';
      color: rgb(70, 70, 70);
      font-size: 2rem;
      font-weight: 500;
      z-index: 1000;

      @media (max-width: #{$sm}px) {
        border-radius: 0px;
        }
  }

  .messages{
      background:#EAEAEA;
      
      .message{
        @media (max-width: #{$sm}px) {
          user-select: none;
        }
        max-width: 100%;
        white-space: pre-wrap;
        .msg{
            color: rgba(0,0,0,.7);
            border-radius: 15px;
            font-size: 13px;
            transition: all 0.5s linear;
        }
        .from{
            color: rgba(0,0,0,.4);
            .date{
                color: rgba(0,0,0,.2);
            }
        }
      }
      .my-message{
          align-self: flex-end;
          .from{
              display: none;
          }
          .msg{
              color: white;
              background: #408EEA;
          }
          // .abs-edit-btn{
          //   position: absolute;
          //   top: 0;
          //   right: 0;
          //   width: 20px;
          //   height: 20px;
          //   border-radius: 50%;
          //   border: 1px solid white;
          //   background-color: gray;
          // }
      }
      .my-message:last-child{
        .msg{
          border-bottom-right-radius: 0px;
        }
    }
      .oponent-message:last-child{
        .msg{
            border-bottom-left-radius: 0px;
          }
      }
  }

  .messages > div{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: auto !important;
      overflow:auto;
      min-height:400px;
      max-height:400px;
      padding: 1rem;
  }
  
  .form{
      position: relative;
      z-index: 1000;
      input{
          width: 100%;
          padding: 1.5rem 4rem 1.5rem 1.5rem;
          border-radius: 0px 0px 10px 10px;
      }
      textarea{
            width: 100%;
            // padding: 1.5rem 4rem 1.5rem 1.5rem;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
            
            @media (max-width: #{$sm}px) {
                border-radius: 0px;
                
                }
              @media (min-width: #{$sm + 1}px) {
                border-radius: 0px 0px 10px 10px;
              }

            background-color: #fff;
            padding-right: 4rem;
      }
      button{
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          position: absolute;
          z-index: 1;
          right: 1rem;
          top: 1rem;
      }
      label{
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        z-index: 1;
        right: 1rem;
        bottom: 0.5rem;
        font-size: 0.65rem;
        opacity: 0.3;
      }
  }
}

::placeholder {
  opacity: .5; 
}

@media(max-width : 30em){
  .room{
      .messages{
          flex: 1;
      }
  }
}