@import '~/common/scss-vars/monitors.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// @keyframes slideFromLeft {
//   0% { transform: translateX(-100px); }
//   100% { transform: translateX(0px); }
// }
// @keyframes slideFromRight {
//   0% { transform: translateX(100px); }
//   100% { transform: translateX(0px); }
// }
// @keyframes slideDown {
//   0% { transform: translateY(-100%); }
//   100% { transform: translateY(0px); }
// }

.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.room{
  @media (max-width: #{$sm}px) {
    border-radius: 0px;
    
  }
  @media (min-width: #{$sm + 1}px) {
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  }
  .heading{
      // font-family: 'DM Sans';
      // color: rgb(70, 70, 70);
      font-size: 2rem;
      font-weight: 500;
      z-index: 1000;
      height: 69px;

      white-space: nowrap;
      width: 100%; // IE6 needs any width
      overflow: hidden; // "overflow" value must be different from  visible"
      // -o-text-overflow: 'ellipsis // Opera < 11
      text-overflow: ellipsis; // IE, Safari (WebKit), Opera >= 11, FF > 6
      & h2 {
        white-space: nowrap;
        overflow: hidden; // "overflow" value must be different from  visible"
        // -o-text-overflow: 'ellipsis // Opera < 11
        text-overflow: ellipsis; // IE, Safari (WebKit), Opera >= 11, FF > 6
      }

      @media (max-width: #{$sm}px) {
        border-radius: 0px;

        & h2 {
          width: 100%; // IE6 needs any width
          max-width: 150px;
        }
      }
      @media (min-width: #{$sm + 1}px) {
        & h2 {
          width: 100%; // IE6 needs any width
          max-width: 250px;
        }
      }
      @media (min-width: #{$md + 1}px) {
        & h2 {
          width: 100%; // IE6 needs any width
          max-width: 350px;
        }
      }
  }

  .messages{
      max-width: 100%;
      width: 100%;
      overflow-x: hidden;
      & > * {
        overflow-x: hidden;
      }

      .message{
        animation: fadeIn 1s;
        
        @media (max-width: #{$sm}px) {
          user-select: none;
        }
        width: auto;
        max-width: 100%;

        // word-break: break-all;
        hyphens: auto;
        white-space: pre-wrap;
        
        word-wrap: break-word;
        // overflow-wrap: normal;

        display: flex;
        flex-direction: column;
        .msg{
          position: relative;
          padding: .3rem .9rem;
          font-weight: bold;
          background: #FFF; // var(--chakra-colors-gray-100);
          color: rgba(0,0,0,.7);
          border-radius: 8px;
          // font-size: 1em;
          transition: all 0.5s linear;
          border: 2px solid transparent;
          align-self: flex-start;
        }

        // -- STATUSES:
        .info {
          background: #408EEA;
          color: #FFF;
        }
        .warning {
          background: #FFDE68;
          // color: #000;
        }
        .success {
          background: #31EAB7;
          // color: #000;
        }
        .danger {
          background: #FF9177;
          // color: #FFF;
        }
        .dead {
          background: #000;
          color: #FFDE68;
        }
        .done {
          background: var(--chakra-colors-gray-500);
          color: #FFF;
          // opacity: 0.3;
        }
        .edited-message {
          border: 2px solid #FFF;
        }
        // --
      }

      // .my-message:not(:last-child) {
      //   .from{
      //     display: none;
      //   }
      // }
      .is-hidden{
        display: none;
      }
      .my-message{
          // animation: fadeIn 0.8s, slideFromRight 0.5s;
          align-self: flex-end;
          align-items: flex-end;

          & .abs-tail {
            position: absolute;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            bottom: -4px;
            right: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
          }
      }
      // .my-message:last-child{
      //   .msg{
      //     border-top-right-radius: 0px;
      //   }
      // }
      .my-message{
        .msg{
          border-top-right-radius: 0px;
        }
      }

      .oponent-message{
        
        .msg{
          max-width: calc(100% - 33px - 0.5rem);
        }
        // animation: fadeIn 0.8s, slideDown 0.5s;
        // position: relative;
        & .abs-tail {
          position: absolute;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          bottom: -4px;
          left: -5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
        }
      }
      // .oponent-message:last-child{
      //   .msg{
      //     border-top-left-radius: 0px;
      //   }
      // }
      .oponent-message{
        .msg{
          border-top-left-radius: 0px;
        }
      }
  }
  

  .messages > div{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: auto !important;
      overflow-y: auto;
      
      padding: 1rem;
  }
  .height-full-auto-sm > div {
    min-height:100px;
    max-height: calc(100vh - 69px - 80px - 4px);
  }
  .height-limited-md > div {
    min-height:400px;
    max-height:400px;
  }
  
  .form{
      font-family: 'Russo One';
      position: relative;
      z-index: 1;
      @media (min-width: #{$sm + 1}px) {
        border-radius: 0px 0px 8px 8px;
      }
      input{
          width: 100%;
          padding: 1.5rem 4rem 1.5rem 1.5rem;
          border-radius: 0px 0px 8px 8px;
      }
      textarea{
            width: 100%;
            // padding: 1.5rem 4rem 1.5rem 1.5rem;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
            
            @media (max-width: #{$sm}px) {
                border-radius: 0px;
                
                }
              @media (min-width: #{$sm + 1}px) {
                border-radius: 0px 0px 8px 8px;
              }

            // background-color: #fff;
            padding-right: 4rem;
      }
      button{
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          position: absolute;
          z-index: 1;
          right: 1rem;
          top: 1rem;
      }
      label.absolute-label{
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        z-index: 1;
        right: 1rem;
        bottom: 0.5rem;
        font-size: 0.7rem;
        font-family: 'Russo One';
      }
  }
}

// ::placeholder {
//   opacity: .5; 
// }

@media(max-width : 30em){
  .room{
      .messages{
          flex: 1;
      }
  }
}