@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.App{
    font-family: 'Montserrat';
    
    background: #D0E0EF;
}

*{
    outline: none !important;
    font-family: 'Montserrat';
}