// @import '~/common/scss-vars/dims.scss';
@import '~/common/scss-vars/colors.scss';

// .react-kanban-board {}
.react-kanban-card {
  user-select: none;
  border-radius: 8px;
  max-width: 240px;
  min-width: 240px;

  .card-controls-box {
    display: flex;
    justify-content: space-between;
    & > *:not(:last-child) {
      margin-right: var(--chakra-space-1);
    }

    .card-title {
      // font-weight: bold;
      word-break: break-word;
    }
    .card-controls-box--right {
      display: flex;
      justify-content: flex-end;
      & > *:not(:last-child) {
        margin-right: var(--chakra-space-2);
      }
      margin-left: auto;
    }
  }

  .card-descr {
    font-weight: bold;
    font-size: 13px;
  }
}
.bg--dark .react-kanban-card {
  color: #FFF;
}

.react-kanban-card--dragging {
  transform: rotate(-5deg); /* Equal to rotateZ(-5deg) */
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  border: 2px solid #FFF;
}
.react-kanban-card--dragging.bg--dark {
  border: 2px solid #FFF;
}
// .react-kanban-card-skeleton {}
// .react-kanban-card--dragging {}
// .react-kanban-card__description {}
.react-kanban-card__title {
  margin-bottom: 10px;
  border-bottom-width: 2px;
  & > span:nth-child(2) {
    border: 1px solid #{$red};
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #{$red};
  }
  & > span:nth-child(2):hover {
    background-color: #{$red};
    color: #FFF;
  }
}
.bg--dark .react-kanban-card__title {
  border-bottom-color: var(--chakra-colors-gray-500);;
}
.bg--light .react-kanban-card__title {
  border-bottom-color: var(--chakra-colors-gray-200);;
}

.react-kanban-card__title.light {
  color: var(--chakra-colors-gray-600);
}
// .react-kanban-card__title.dark {}

.react-kanban-column {
  border-radius: 8px;
  max-width: 280px;
}
.bg--light .react-kanban-column {
  background-color: var(--chakra-colors-gray-200);
}
.bg--dark .react-kanban-column {
  background-color: var(--chakra-colors-gray-600);
}
// .react-kanban-card-adder-form {}
// .react-kanban-card-adder-button {}
// .react-kanban-card-adder-form__title {}
// .react-kanban-card-adder-form__description {}
// .react-kanban-card-adder-form__button {}
// .react-kanban-column-header {}
// .react-kanban-column-header__button {}
// .react-kanban-column-adder-button {}

.bg {
  &--dark {
    background: var(--chakra-colors-gray-700);
  }
  &--light {
    // background: var(--chakra-colors-gray-100);
    background: #FFF;
  }
}
