/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap&family=Russo+One&display=swap&family=Bahiana&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Russo+One&family=Jura:wght@300;400;500&display=swap&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

* {
    outline: none !important;
    font-family: 'Jura';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-y: hidden;;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* @keyframes slideFromLeft {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(0px); }
}
@keyframes slideFromRight {
  0% { transform: translateX(100px); }
  100% { transform: translateX(0px); }
}
@keyframes slideDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0px); }
}
*/

input[type="file"] {
  display: none;
}
input[type="file"]:disabled + label {
  opacity: 0.3;
  cursor: not-allowed;
}

.follow-button::before {
  content: '⬇️' !important;
  font-size: 2.5em;
}
.follow-button {
  position: relative;
  height: 55px !important;
  width: 55px !important;
  /*
  border-radius: 50% !important;
  */
  right: 50px !important;
  bottom: 50px !important;
  right: var(--chakra-space-2) !important;
  bottom: var(--chakra-space-2) !important;
}

.blink_me {
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.no-line-breaks {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
